# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
ENV/

# Build
dist/
build/

# IDE
.vscode/

# Logs
*.log

# Dev container
.devcontainer/

# Monorepo generated
packages/*
!packages/**/.gitkeep

# Config
*.env
.env.local
.env.development